@font-face {
	font-family: 'Montserrant';
	url: ('../fonts/montserrant/Montserrat-Black.ttf');
	}
body {
	font-family: 'Montserrant';
	letter-spacing: .1em;
	}
a {
	text-decoration: none;
	color: white;
	}
a:link, a:visited {
	color: white;
	}
input[type='text'] {
	padding-left: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	}
	
/*-------HEADER-------*/

.header {
	background-image: url('../images/doski.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	height: 50vh;
	}
.nav {
	display: flex;
	height: 3em;
	padding: 2em;
	}
.nav__link {
	padding: 1em;
	text-transform: uppercase;
	}
.search {
	margin-left: auto;
	height: 3em;
	}

.header__info {
	display: flex;
	height: 42.5vh;
	text-align: center;
	align-items: center;
	justify-content: center;
	}
.header__block-info {
	height: 15em;
	}
.info__name {
	font-size: 3.5em;
	}
.info__skill {
	font-size: 1.5em;
	font-weigth: 100;
	}
	
/*-------END-HEADER-------*/

/*----------MAIN----------*/

.main {
	display: flex;
	justify-content: center;
	flex-direction: space-between;
	padding: 1.5em;
	margin: 3em;
	}
.post {
	width: 70.215053763440862%;
	}
.post__text {
	line-height: 1.5em;
	letter-spacing: .05em;
	font-size: 1em;
	}
.link__post-next, 
.link__post-next:link, 
.link__post-next:visited {
	color: black;
	}
.post__text-info {
	display: flex;
	flex-direction: flex-end;
	height: 3em;
	border-top: 1px solid gray;
	margin-top: 2em;
	margin-bottom: 4em;
	line-height: 3em;
	font-size: .85em;
	letter-spacing: .03em;
	color: gray;
	}
.post__info-date {
	margin-right: auto;
    padding: 1em 0;
	}
.post__info-comment {
	padding: 1em 1em;
	}
.post__info-views {
	padding: 1em 0;
	}
.loader {
	height: 3em;
	text-align: center;
	line-height: 3em;
	color: gray;
	cursor: pointer;
	}
/*-------END-MAIN---------*/

/*--------FOOTER----------*/

.footer {
	height: 10em;
	background-image: url('../images/doski.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	text-align: center;
	line-height: 10em;
	}

/*------END-FOOTER--------*/